/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Modal */
.modal {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  background: #111;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Backdrop */
.backdrop {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
}
/* Close Button */
.closeBtn {
  position: fixed;
  top: 60px;
  right: 10px;
  left: auto;
  background: rgba(20, 20, 20, 0.6);
  color: #fff;
  border: none;
  font-size: 28px;
  padding: 4px 8px;
  border-radius: 30%;
  cursor: pointer;
  z-index: 10000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.closeBtn:hover {
  background: rgba(20, 20, 20, 0.9);
}

/* Content */
.content {
  padding: 18px;
  color: #eee;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

.meta {
  font-size: 14px;
  opacity: 0.8;
}

.overview {
  font-size: 15px;
  line-height: 1.5;
}

/* Extra Details */
.extra h4 {
  font-size: 16px;
  margin-bottom: 4px;
}

.extra span {
  font-size: 14px;
  opacity: 0.9;
}

.castList span {
  display: inline-block;
  margin-right: 6px;
}

/* Buttons */
.buttons {
  margin-top: 10px;
}

.play,
.add {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 15px;
}

.play {
  background: #fff;
  color: #000;
}

.add {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

/* Desktop / Tablet Overrides */
@media (min-width: 768px) {
  /* Modal */
  .modal {
    width: 750px;
    height: 90vh;
    padding-top: 40px;
    border-radius: 12px;
  }

  /* Backdrop */
  .backdrop {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  /* Close Button */
  .closeBtn {
    top: 45px;
    right: 250px;
    font-size: 40px;
    padding: 0px 10px;
  }
}
